/*============HEADER AND NAV==========================*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
}

.nav {
   position: relative; 
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav__logo, 
.nav__close,
.nav__toggle,
.nav__actions {
    display: flex;
    color: var(--title-color);
    cursor: pointer;
}

.nav__logo{
    font-weight: var(--font-semi-bold);
    column-gap: .25rem;
    align-items: center;
}

.nav__logo i {
    color: var(--first-color);
}